.select {
  border-radius: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 5px 20px;
  cursor: pointer;
  }
  .select-group{
    display: flex;
    justify-content: center;
  }