*{
  box-sizing: border-box;
}
body {
  background-color: #202329;
  font-family: "Arabic", sans-serif;
  color: rgb(236, 236, 236);
  margin: 0;
  padding: 0;
}
.container {
  width: 1100px;
  margin: 0 auto;

}
.baanner {
  width: 100%;
}