*{
  box-sizing: border-box;
}
.cards{

  display: flex;
 align-items: center;
}
.card-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}
.card-title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
.location{
  display: block;
  color: #878a92;
}
.location-address{
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #8e8417;
  }
}
.gender{
  display: block;
  margin-top: 10px;
}
.unknown{
  margin: 5px 0;
}
.form{
  margin: 30px auto;
  width: 350px;
display: flex;
justify-content: center;
border-top: 3px solid #fff;
border-bottom: 3px solid #fff;
border-radius: 20px;
}
.input-search{
   padding: 5px 10px;
   width: 250px;
   border: none;
   background-color: transparent;
}
.btn-search{
   padding: 5px 10px;
   border: none;
   background-color: transparent;
}
.badge{
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translatey(-50%);
}
.alive{
  background-color: #61ba1d;
}
.dead{
  background-color: #be1f1f;
}
.unknowns{
  background-color: #1d3aba;
}
.cards-inner{
  display: flex;
  text-decoration:none;
  color:#fff;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  width: 48%;

 padding: 10px;
 background-color: #3c3e44;
 box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
 margin-bottom: 20px;
  &:hover{
    color: #fff;
  }
}